In [1]:
# import_notebooks is a custom python script
# this line makes it possible to import functions from other IPython notebooks
from import_notebooks import *

In [2]:
# Here we import all the functions (*) from these notebooks
from Hainan_Data_Cleaning import *
from time_shift_dataframe import *
from Stratified_Split import *
from Cumulative import *
from Rollingsum import *
from LR_model import *

from Utilities import *

importing Jupyter notebook from Hainan_Data_Cleaning.ipynb
importing Jupyter notebook from time_shift_dataframe.ipynb
importing Jupyter notebook from Stratified_Split.ipynb
importing Jupyter notebook from Cumulative.ipynb
importing Jupyter notebook from Rollingsum.ipynb
importing Jupyter notebook from LR_model.ipynb

/Users/akshatk7/anaconda/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

importing Jupyter notebook from Utilities.ipynb

In [3]:
# load_hainan_data() is from Hainan_Data_Cleaning and it loads hainan data
df = load_hainan_data()
df.head()

,Year,Month,Day,RawBiogas,BioCNG,LiquidFertilizer,SolidFertilizer,WasteWater,SolidResidues,PigManure,...,Percolate,Other,NaOH,FeCl2,PAM,Defoamer,ProjectElectricity,OfficeElectricity,Water,Diesel
0,2014,April,1,5154.0,1710.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2014,April,2,3426.0,1529.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2014,April,3,5885.0,1795.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2014,April,4,3727.0,1361.0,0.0,0.0,0.0,0.0,14.9,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2014,April,5,4072.0,2436.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
# timeshift_df is from time_shift_dataframe and it timeshifts the dataframe
# timeshift_df(df, time_shift=15, index=10) defaults are 15 and 10
# time_shift is the number of days to shift the index
# All columns left of the 'index' column will be shifted up by the timeshift

df_ts = timeshift_df(df)
df_ts.head(10)

,Year,Month,Day,RawBiogas,BioCNG,LiquidFertilizer,SolidFertilizer,WasteWater,SolidResidues,PigManure,...,Percolate,Other,NaOH,FeCl2,PAM,Defoamer,ProjectElectricity,OfficeElectricity,Water,Diesel
0,2014.0,April,16.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2014.0,April,17.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2014.0,April,18.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2014.0,April,19.0,0.0,0.0,0.0,0.0,0.0,0.0,14.9,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2014.0,April,20.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,2014.0,April,21.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,2014.0,April,22.0,6839.0,3463.0,0.0,0.0,0.0,0.0,14.9,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,2014.0,April,23.0,6251.0,2131.0,0.0,0.0,0.0,0.0,14.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,2014.0,April,24.0,7593.0,2741.0,0.0,0.0,0.0,0.0,14.2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,2014.0,April,25.0,6732.0,3091.0,0.0,0.0,0.0,0.0,14.2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
df_ts.head()
df_ts.columns.values
df_ts_relfeatures = df_ts.drop(['Year', 'Month', 'Day','BioCNG', 'LiquidFertilizer',
       'SolidFertilizer', 'WasteWater', 'SolidResidues','ProjectElectricity',
       'OfficeElectricity', 'Water', 'Diesel'], axis=1)
# df_ts_relfeatures.head()
print(df_ts_relfeatures.shape[0])
df_ts_relfeatures = df_ts_relfeatures.apply(pd.to_numeric, errors='coerce')
df_ts_relfeatures = df_ts_relfeatures.dropna()
print(df_ts_relfeatures.shape[0])
# print(df_ts_relfeatures.isnull().sum())
df_ts_relfeatures_cum = cumulative(df_ts_relfeatures,10)
df_ts_relfeatures_roll = rollingsum(df_ts_relfeatures,10)

1413
1413

In [6]:
x_train, y_train, x_test, y_test = test_train_for_regression(df_ts_relfeatures_cum)
print(y_train.shape)
print(y_test.shape)

(112,)
(29,)

In [21]:
run_lm(x_train, y_train, x_test, y_test)

Starting linear regression model.
                            OLS Regression Results
==============================================================================
Dep. Variable:              RawBiogas   R-squared:                       0.754
Model:                            OLS   Adj. R-squared:                  0.703
Method:                 Least Squares   F-statistic:                     14.81
Date:                Thu, 12 Apr 2018   Prob (F-statistic):           2.60e-20
Time:                        18:19:33   Log-Likelihood:                -1313.1
No. Observations:                 112   AIC:                             2666.
Df Residuals:                      92   BIC:                             2721.
Df Model:                          19
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
const                 4.974e+04   7264.480      6.847      0.000    3.53e+04    6.42e+04
PigManure               -1.0075      5.084     -0.198      0.843     -11.104       9.089
Cassava                 71.2475     14.193      5.020      0.000      43.060      99.435
FishWastewater         -64.0746    115.521     -0.555      0.580    -293.509     165.359
KitchenFoodWaste       113.9710    110.860      1.028      0.307    -106.207     334.149
MunicipalFecalWaste     34.4756     32.312      1.067      0.289     -29.699      98.650
TeaWaste                42.5052    202.685      0.210      0.834    -360.044     445.054
ChickenWaste           -16.1435    181.329     -0.089      0.929    -376.279     343.992
Bagasse                 47.0964     33.270      1.416      0.160     -18.981     113.174
AlcoholWaste           149.7254    176.167      0.850      0.398    -200.157     499.608
ChineseMedicineWaste   509.3777    616.154      0.827      0.411    -714.357    1733.112
EnergyGrass           7489.6044   7659.843      0.978      0.331   -7723.505    2.27e+04
BananaFruitShafts      271.9585    254.589      1.068      0.288    -233.677     777.594
LemonWaste             -91.2221    793.443     -0.115      0.909   -1667.068    1484.624
Percolate                4.8608      5.956      0.816      0.417      -6.969      16.690
Other                  -38.3752     52.579     -0.730      0.467    -142.801      66.050
NaOH                    -0.7260      1.112     -0.653      0.515      -2.935       1.482
FeCl2                  -10.3488      8.369     -1.237      0.219     -26.969       6.272
PAM                    219.0713    106.924      2.049      0.043       6.711     431.431
Defoamer              3752.5035   5636.793      0.666      0.507   -7442.654    1.49e+04
==============================================================================
Omnibus:                        6.288   Durbin-Watson:                   2.272
Prob(Omnibus):                  0.043   Jarque-Bera (JB):                7.871
Skew:                           0.281   Prob(JB):                       0.0195
Kurtosis:                       4.171   Cond. No.                     9.25e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 9.25e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
The mean absolute error of linear regression on training set is:  22112.3027717
The mean absolute error of linear regression test set is:  44133.0491589

[22112.302771738556, 44133.049158942951]

In [8]:
run_ridge(x_train, y_train, x_test, y_test, alpha = 0.3)

The mean absolute error of ridge regression on training set is:  21111.7728374
The mean absolute error of ridge regression test set is:  53671.7330748

[21111.772837403518, 53671.733074817654]

In [11]:
#Set the different values of alpha to be tested
alpha_ridge = [1e-15, 1e-10, 1e-8, 1e-4, 1e-3,1e-2, 1, 5, 10, 20]

#Initialize the dataframe for storing coefficients.
col = ['rss','intercept'] + ['coef_x_%d'%i for i in range(1,16)]
ind = ['alpha_%.2g'%alpha_ridge[i] for i in range(0,10)]
coef_matrix_ridge = pd.DataFrame(index=ind, columns=col)

for i in range(10):
    coef_matrix_ridge.iloc[i,] = run_ridge_2(x_train, y_train, x_test, y_test, alpha_ridge[i])

The mean absolute error of ridge regression on training set is:  19878.0185564
The mean absolute error of ridge regression test set is:  58764.3884422

NameError: name 'y_pred_test' is not defined