NameError: name 'pd' is not defined

In [117]:
# No warnings
import warnings
warnings.filterwarnings('ignore') # Filter out warnings

# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd

pd.set_option('display.max_columns', 100) # Print 100 Pandas columns

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB # Gaussian Naive Bays
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier #stochastic gradient descent
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import xgboost as xgb
from sklearn.ensemble import RandomForestRegressor

import tensorflow as tf
from datetime import datetime
import os
import pathlib
from pathlib import Path

In [118]:
h_df = pd.read_csv('RawBiogasReg_2017_18.csv')
h_df = h_df.drop([422, 423])

In [119]:
X = h_df.drop(['Year', 'Raw Biogas Produced (m3)'], axis = 1)
Y = h_df['Raw Biogas Produced (m3)']

In [120]:
split = 0.2

X_train1, X_val1, Y_train1, Y_val1 = train_test_split(X, Y, test_size=split)

length = h_df['Pig Manure (t)'].count()
cut = int(round(length*(1-split)))
X_train2 = X[0 : cut]
Y_train2 = Y[0 : cut]
X_val2 = X[cut : length]
Y_val2 = Y[cut : length]

In [121]:
h_df.describe()

,Year,Pig Manure (t),Kitchen food waste (t),Municipal fecal residue (t),Chicken litter (t),Bagasse feed (t),Percolate (t),Raw Biogas Produced (m3)
count,422.000000,422.000000,422.000000,422.000000,422.000000,422.000000,422.000000,422.000000
mean,2017.135071,24.157467,50.389360,88.708931,21.838246,9.323199,252.110664,16456.272512
std,0.342205,11.633793,28.824231,53.103042,17.025369,12.234805,132.309362,4407.259127
min,2017.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2017.000000,17.955000,25.710000,59.280000,6.930000,0.000000,170.750000,14302.000000
50%,2017.000000,25.260000,48.890000,85.470000,20.660000,4.750000,262.500000,17460.000000
75%,2017.000000,31.415000,69.855000,115.322500,34.025000,15.750000,364.000000,19588.750000
max,2018.000000,97.000000,126.640000,418.650000,78.540000,81.000000,541.000000,24068.000000

In [122]:
h_df.isnull().values.any()

False

In [126]:
columns = h_df.columns.values
total_null = []
ratio_null = []
percent_null = []
for i in columns:
    null = h_df[i][h_df[i] == 0]
    total_null = total_null + [len(null)]
    ratio_null = ratio_null + [len(null)/len(h_df[i])]
    percent_null = percent_null + [(len(null)/len(h_df[i]))*100]
    
data = [columns, total_null, ratio_null, percent_null]
print(data)

null_df = pd.DataFrame(data, ['name', 'total of 0', 'ratio', 'percent'])
null_df = null_df.T
null_df

[array(['Year', 'Pig Manure (t)', 'Kitchen food waste (t)',
       'Municipal fecal residue (t)', 'Chicken litter (t)',
       'Bagasse feed (t)', 'Percolate (t)', 'Raw Biogas Produced (m3)'], dtype=object), [0, 23, 1, 26, 88, 192, 31, 7], [0.0, 0.054502369668246446, 0.002369668246445498, 0.061611374407582936, 0.20853080568720378, 0.4549763033175355, 0.07345971563981042, 0.016587677725118485], [0.0, 5.450236966824645, 0.23696682464454977, 6.161137440758294, 20.85308056872038, 45.497630331753555, 7.345971563981042, 1.6587677725118484]]

                          name total of 0       ratio   percent
0                         Year          0           0         0
1               Pig Manure (t)         23   0.0545024   5.45024
2       Kitchen food waste (t)          1  0.00236967  0.236967
3  Municipal fecal residue (t)         26   0.0616114   6.16114
4           Chicken litter (t)         88    0.208531   20.8531
5             Bagasse feed (t)        192    0.454976   45.4976
6                Percolate (t)         31   0.0734597   7.34597
7     Raw Biogas Produced (m3)          7   0.0165877   1.65877

In [132]:
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)
rf.fit(X_train1, Y_train1)
Y_pred = rf.predict(X_val1)
#error = abs(Y_pred - Y_val1)
#MAE = round(np.mean(error))
#MAPE = 100 * (error/Y_val1)

MSE = np.mean((Y_pred - Y_val1))
print(MSE)
#rmse = np.sqrt(np.mean(error**2))
#print(rmse)

-110.85230588235285

In [130]:
rf.fit(X_train2, Y_train2)
rf.score(X_val2, Y_val2)

-0.16234417540911239

In [131]:
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)
rf.fit(X_train2, Y_train2)
Y_pred = rf.predict(X_val2)
MSE = np.mean((Y_pred - Y_val1))
print(MSE)

ValueError: operands could not be broadcast together with shapes (84,) (85,)